<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Title</title>
</head>
<body>
<form th:action="@{/save}" method="post" th:object="${song}">
  <fieldset>
    <legend>Update song information</legend>
    <table>
      <tr>
        <input type="hidden" th:field="*{id}" th:value="*{id}">
        <td><label th:for="name">Name: </label></td>
        <td><input type="text" th:field="*{name}" id="name" th:value="*{name}"></td>
        <td th:if="${#fields.hasErrors('name')}" th:errors="*{name}"></td>
      </tr>
      <tr>
        <td><label th:for="singer">Singer: </label></td>
        <td><input type="text" th:field="*{singer}" id="singer" th:value="*{singer}"></td>
        <td th:if="${#fields.hasErrors('singer')}" th:errors="*{singer}"></td>

      </tr>
      <tr>
        <td><label th:for="type">Type: </label></td>
        <td><input type="text" th:field="*{type}" id="type" th:value="*{type}"></td>
        <td th:if="${#fields.hasErrors('type')}" th:errors="*{type}"></td>
      </tr>
      <tr>
        <td></td>
        <td><input type="submit" value="Update"></td>
      </tr>
    </table>
  </fieldset>
</form>
</body>
</html>